<input
  class="event__input event__input--destination"
  id="event-destination-1"
  type="text"
  name="event-destination"
  value=""
  list="destination-list-1"
/>
<datalist id="destination-list-1">
  <option value="Amsterdam"></option>

  <option value="New-York"></option>

  <option value="Moscow"></option>

  <option value="Paris"></option>

  <option value="Berlin"></option>

  <option value="Saint-Petersburg"></option>
</datalist>

<input
  class="event__input event__input--destination"
  id="event-destination-JwqL_DEE_brM0k7RbdB7o"
  type="text"
  name="event-destination"
  value="sss"
  list="destination-list-JwqL_DEE_brM0k7RbdB7o"
  required=""
/>
<datalist id="destination-list-JwqL_DEE_brM0k7RbdB7o">
  <option value="Chamonix"></option>
  <option value="Geneva"></option>
  <option value="Amsterdam"></option>
  <option value="Helsinki"></option>
  <option value="Oslo"></option>
</datalist>
